body {
  background-color: #14101b;
  color: #fff;
}

.column {
  width: 49%;
  display: inline-block;
  overflow: scroll;
  vertical-align: top;
}

#CenterOfMass {
  display: block;
}

.line {
}

text {
  fill: #fff;
}

line {
  stroke: #fff;
}
line.ratio-line {
  stroke: steelblue;
}

rect.band {
  fill: steelblue;
}

.frequency-line {
  stroke: lightgreen;
  stroke-width: 2px;
  fill: none;
}

.signal-line {
  stroke: pink;
  stroke-width: 2px;
  fill: none;
}
